@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #a38f84 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #a38f84;
  border-color: #a38f84;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #7d695d;
  border-color: #7d695d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #7d695d !important;
  border-color: #7d695d !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #6e5c53;
  color: #6e5c53;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #a38f84;
  border-color: #a38f84;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #a38f84 !important;
  border-color: #a38f84 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #a38f84 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #a38f84;
}
.btn-social:hover {
  background: #a38f84;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #a38f84;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #a38f84;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #a38f84;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #a38f84;
}
.lead a,
.lead a:hover {
  color: #a38f84;
}
.lead blockquote {
  border-color: #a38f84;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #dad1cd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #a38f84;
}
#header1-1 .mbr-section-lead {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: #efefef;
  font-size: 30px;
}
#header1-1 .mbr-section-title {
  color: #cccccc;
  font-size: 60px;
}
#header1-1 .btn {
  font-family: 'PT Serif', serif;
  font-size: 17px;
}
#header1-1 .mbr-section-title SPAN {
  color: #efefef;
  font-size: 48px;
}
#form1-1p .form-control-label {
  color: #232323;
}
#ext_menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2i .navbar-caption {
  color: #ffffff;
}
#ext_menu-2i .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2i .close-icon::before,
#ext_menu-2i .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2i .link,
#ext_menu-2i .dropdown-item {
  color: #ffffff;
}
#ext_menu-2i .link {
  font-size: 0.75rem;
}
#ext_menu-2i .dropdown-item,
#ext_menu-2i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2i .link:hover,
#ext_menu-2i .dropdown-item:hover,
#ext_menu-2i .link:focus,
#ext_menu-2i .dropdown-item:focus {
  color: #a38f84;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-2i .nav-dropdown-sm .link:focus,
#ext_menu-2i .nav-dropdown-sm .link:hover,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-2i .navbar,
#ext_menu-2i .nav-dropdown-sm,
#ext_menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-2i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2i .bg-color.transparent.opened .link:hover,
#ext_menu-2i .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#content5-1u .mbr-section-title,
#content5-1u p {
  color: #fff;
}
#content5-1v .mbr-section-title,
#content5-1v p {
  color: #fff;
}
#content5-1w .mbr-section-title,
#content5-1w p {
  color: #fff;
}
#content5-1x .mbr-section-title,
#content5-1x p {
  color: #fff;
}
#content5-2p .mbr-section-title,
#content5-2p p {
  color: #fff;
}
#content5-2q .mbr-section-title,
#content5-2q p {
  color: #fff;
}
#content5-2r .mbr-section-title,
#content5-2r p {
  color: #fff;
}
#menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1y .navbar-caption {
  color: #ffffff;
}
#menu-1y .navbar-toggler {
  color: #ffffff;
}
#menu-1y .link,
#menu-1y .dropdown-item {
  color: #ffffff;
}
#menu-1y .link {
  font-size: 0.75rem;
}
#menu-1y .dropdown-item,
#menu-1y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1y .link:hover,
#menu-1y .dropdown-item:hover,
#menu-1y .link:focus,
#menu-1y .dropdown-item:focus {
  color: #a38f84;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-menu {
  background: #0e0e0e;
}
#menu-1y .nav-dropdown-sm .link:focus,
#menu-1y .nav-dropdown-sm .link:hover,
#menu-1y .nav-dropdown-sm .dropdown-item:focus,
#menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1y .navbar,
#menu-1y .nav-dropdown-sm,
#menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1y .bg-color.transparent.opened .link:hover,
#menu-1y .bg-color.transparent.opened .link:focus {
  color: #a38f84;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-item[aria-expanded="true"] {
  color: #a38f84!important;
}
#menu-1y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1y .close-icon::before,
#menu-1y .close-icon::after {
  background-color: #ffffff;
}
#pricing-table1-21 .mbr-section__container .mbr-section-title {
  color: #fff;
}
#pricing-table1-21 .mbr-section__container .mbr-section-subtitle {
  color: #a0a0a0;
}
#header2-22 .mbr-section-text {
  font-size: 21px;
}
#content5-2g .mbr-section-title,
#content5-2g p {
  color: #fff;
}
#content5-2k .mbr-section-title,
#content5-2k p {
  color: #fff;
}
#content5-2l .mbr-section-title,
#content5-2l p {
  color: #fff;
}
#content5-2m .mbr-section-title,
#content5-2m p {
  color: #fff;
}
#content5-2n .mbr-section-title,
#content5-2n p {
  color: #fff;
}
